.advantage__title {
  .oswald(36, 40);
  text-transform: unset;
}

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage__item--nutrient::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/advantage-leaf@1x.png) no-repeat center;
  .bg-green();
}

.advantage__item--powder::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/advantage-powder@1x.png) no-repeat center;
  .bg-green();
}

.advantage__item--food::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/advantage-dining@1x.png) no-repeat center;
  .bg-green();
}

.advantage__item--changes::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/advantage-clock@1x.png) no-repeat center;
  .bg-green();
}

.advantage__text {
  .arial(14, 18);
}
