.main__example {
  padding-top: 27px;
  padding-bottom: 29px;
  .bg-dark-grey();
}

.example__results-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.example__title {
  margin: 0;
  padding-bottom: 33px;
  .oswald(36, 40);
  text-transform: unset;
}

.example__text {
  margin: 0;
  padding-bottom: 25px;
  .arial(14, 18);
}

.example__results {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 26px;
  .oswald(24, 24);
}

.result-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  width: 45%;
}

.example__result {
  display: block;
  padding-top: 15px;
  width: 100%;
  min-height: 56px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
}

.example__results dd {
  position: absolute;
  top: 86%;
  margin: 0;
  padding: 0 10px;

  text-align: center;
  .arial(12, 12);
  text-transform: lowercase;
  background: #eaeaea;
}

.example__cost {
  margin: 0;
  padding-bottom: 42px;
  text-align: center;
  .oswald(14, 20);
}

.example__slider {
  text-align: center;
}

.example__slider img {
  display: none;
  padding-bottom: 23px;
}

.slider--active img {
  display: block;
  width: 100%;
}

.example__scale {
  display: flex;
  justify-content: center;
  .oswald(16, 20);
}

.scale__line {
  padding: 0 12px;
}

@media (min-width: @tablet-width) {
  .main__example {
    padding-top: 43px;
    padding-bottom: 0;
    background: #ffffff;
  }

  .main__example .container {
    padding-bottom: 250px;
  }

  .example__title {
    padding-bottom: 63px;
    .oswald(60, 60);
    text-transform: initial;
  }

  .example__results-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__text {
    padding-bottom: 54px;
    width: 100%;
    .arial(16, 24);
  }

  .example__results {
    padding: 0;
    width: 52%;
    .oswald(30, 37);
  }

  .example__result {
    min-height: 72px;
  }

  .example__results dd {
    .arial(14, 14);
    background-color: #ffffff;
  }

  .example__results br {
    display: none;
  }

  .example__cost {
    align-self: center;
    padding: 0;
    width: 174px;
    text-align: right;
    .oswald(20, 20);
  }

  .example__slider {
    padding: 0 30px 64px;
    .bg-dark-grey();
  }

  .example__slider-pictures {
    position: relative;
    display: flex;
    margin-bottom: 23px;
  }

  .example__slider-pictures div {
    position: relative;
    margin-top: -191px;
    padding-bottom: 74%;
    width: 50%;
    overflow: hidden;
  }

  .example__slider-pictures .slider__img {
    position: absolute;
    top: 0;
    display: block;
    padding: 0;
    width: 200%;
    max-width: none;
  }

  .slider__before .slider__img {
    left: 8px;
  }

  .slider__after .slider__img {
    right: -6px;
  }

  .example__scale {
    position: relative;
    .oswald(20, 30);
  }

  .example__scale-text {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }

  .scale__line {
    padding: 0 24px;
  }
}

@media (min-width: @desktop-width) {
  .main__example {
    position: relative;
    padding: 0;
    background: linear-gradient(to right, #f2f2f2 75%, #eaeaea 25%);
  }

  .main__example .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 0 30px;
    max-width: 1280px;
  }

  .main__example .container {
    margin: 0;
    padding: 70px 0 68px;
  }

  .example__title {
    position: absolute;
    top: -146px;
  }

  .example__results-wrapper {
    max-width: 436px;
  }

  .example__text {
    margin: 0;
    padding-bottom: 69px;
  }

  .example__results {
    padding-bottom: 60px;
    padding-right: 70px;
    width: 100%;
  }

  .result-wrap dd {
    .bg-grey();
  }

  .example__cost {
    width: auto;
  }

  .example__cost span:first-of-type {
    padding-right: 63px;
  }

  .example__slider {
    padding: 0;
    margin-right: -40px;
    width: 690px;
    background: linear-gradient(to right, #f2f2f2 53%, #eaeaea 50%);
  }

  .example__slider-pictures {
    margin-bottom: 19px;
  }

  .example__slider-pictures div {
    margin-top: -189px;
    padding-bottom: 74%;
  }

  .example__slider-pictures .slider__before {
    width: 365px;
  }

  .slider__before .slider__img {
    left: 0px;
    width: max-content;
  }

  .example__slider-pictures .slider__after {
    width: 325px;
  }

  .slider__after .slider__img {
    right: 0;
    width: max-content;
  }

  .example__scale {
    padding-bottom: 30px;
  }
}
