.form__title {
  margin: 0;
  padding: 27px 0px 37px;
  .oswald(36, 36);
  text-transform: unset;
}

.form__request {
  margin: 0;
  padding-bottom: 20px;
  width: 226px;
  .oswald(14, 18);
}

.form__forms {
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
}

@media (max-width: @mobile-width-only) {
  .form__block-wrap.container {
    padding: 0;
  }
}

.form__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;

  .oswald(16, 18);
  color: #444444;
}

.form__block legend {
  margin-left: -20px;
  padding: 0 20px;
  .oswald(24, 26);
  text-transform: initial;
  .text-black();
  background-color: #ffffff;
}

.form__block label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__block label:last-child {
  margin-bottom: 0;
}

.form__block input,
.form__block textarea {
  flex-grow: 1;
  margin: 0;
  margin-left: 12px;
  padding: 0 15px;
  border: 1px solid #E7E7E7;
  height: 45px;

  .oswald(16, 18);
  color: #444444;
  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    padding: 12px 14px;
    border: 2px solid #444444;
  }

  &:invalid {
    padding: 12px 14px;
    border: 2px solid #FF8282;
  }
}

.form__block-wrap {
  margin-bottom: 20px;
}

.form__block-parameters {
  padding: 19px 20px 23px;
}

.form__block--border {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.form__block-target {
  padding: 25px 20px 27px 65px;
  color: #222222;
}

.form__block .block-target__label {
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -45px;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid #CDCDCD;
    box-shadow: inset 0 0 0 8px #ffffff;
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.block-target__radio:checked + .block-target__label::before {
  .bg-green();
}

.block-target__radio:disabled + .block-target__label {
  opacity: 0.3;
}

.form__block-wrapper {
  margin-top: 21px;
  padding-bottom: 21px;
}

.form__block-contacts legend {
  width: 221px;
  margin-bottom: 32px;
}

.contacts__label {
  position: relative;
}

.contacts__input {
  padding-right: 51px;

  &:focus + .contacts__svg {
    fill: #68B738;
  }

  &:invalid + .contacts__svg {
    fill: #FF8282;
  }
}

.contacts__svg {
  position: absolute;
  top: 50%;
  fill: #222222;
}

.contacts__svg-mail {
  right: 15px;
  margin-top: -7px;
}

.contacts__svg-phone {
  right: 13px;
  margin-top: -10px;
}

.form__block-comments legend {
  margin-bottom: 34px;
}

.form__block textarea {
  margin: 0;
  padding: 12px 13px 10px;
  width: 100%;
  height: 150px;
  resize: none;
}

.form__block-other {
  margin-top: 8px;
  padding-bottom: 20px;
  .text-black();
}

.form__block-other legend {
  margin-bottom: 40px;
}

.form__block-other .block-other__label {
  position: relative;
  margin-bottom: 24px;
  padding-left: 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;

    border: 1px solid #CDCDCD;
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.block-other__checkbox:checked + .block-other__label::before {
  background: url(/img/icon-tick.svg) no-repeat center;
}

.block-other__checkbox:disabled + .block-other__label {
  opacity: 0.3;
}

.form__button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.button-request {
  margin: 0;
  margin-bottom: 21px;
  padding: 10px 0;
  width: 100%;
  border: none;
  .oswald(16, 20);
}

.main__form small {
  padding-bottom: 15px;
  .arial(14, 16);
  .text-black();
}

.form .main__contacts {
  .bg-grey();
}

@media (min-width: @tablet-width) {
  .form__forms {
    padding-bottom: 72px;
  }

  .main__form .container {
    padding-right: 67px;
    padding-left: 70px;
  }

  .form__title {
    margin-left: -41px;
    padding-top: 28px;
    padding-bottom: 54px;
    .oswald(60, 60);
    text-transform: unset;
  }

  .form__request {
    padding-bottom: 33px;
    width: 323px;
    .oswald(20, 30);
  }

  .form__block {
    .oswald(20, 30);
  }

  .form__block legend {
    margin-left: -37px;
    padding: 0 37px;
    .oswald(36, 36);
    text-transform: initial;
  }

  .form__block label {
    margin-bottom: 20px;
  }

  .form__block input {
    margin-left: 18px;
    height: 52px;
  }

  .form__block input,
  .form__block textarea {
    padding: 0 18px;
    .oswald(20, 30);

    &:focus,
    &:invalid {
      padding: 9px 17px;
    }
  }

  .form__block-wrap {
    margin-bottom: 38px;
  }

  .form__block-parameters {
    padding: 33px 0 36px;
  }

  .form__block--border {
    border: none;
  }

  .form__block-target {
    margin-top: 36px;
    margin-bottom: 38px;
    padding: 29px;
    padding-left: 88px;
    border: 1px solid #E7E7E7;
  }

  .form__block .block-target__label {
    margin-bottom: 23px;

    &::before {
      left: -60px;
      width: 40px;
      height: 40px;
      box-shadow: inset 0 0 0 11px #ffffff;
    }
  }

  .form__block-wrapper {
    padding-bottom: 18px;
  }

  .form__block-contacts {
    padding-bottom: 48px;
  }

  .form__block-contacts legend {
    width: auto;
    margin-bottom: 76px;
  }

  .contacts__svg {
    right: 17px;
  }

  .contacts__svg-mail {
    right: 19px;
    width: 18px;
    height: 13px;
  }

  .form__block-comments {
    padding-bottom: 48px;
  }

  .form__block-comments legend {
    margin-bottom: 76px;
  }

  .form__block-comments textarea {
    padding-top: 9px;
    min-height: 174px;
  }

  .form__block-other {
    padding-bottom: 0;
  }

  .form__block-other legend {
    margin-bottom: 62px;
  }

  .form__block-other--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__block-other .block-other__label,
  .form__block-other .block-other__label:last-child {
    margin-bottom: 42px;
    padding-left: 59px;
    width: 45%;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__button-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .button-request {
    margin-bottom: 0;
    width: 45%;
    min-height: 52px;
    .oswald(20, 26);
  }

  .main__form small {
    padding: 0;
    width: 45%;
    text-align: start;
    .arial(16, 16);
  }
}

@media (min-width: @desktop-width) {
  .main__form .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1280px;
  }

  .form__title {
    margin: 0;
    padding: 46px 0 56px;
  }

  .form__forms {
    padding-bottom: 82px;
  }

  .form__block-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
  }

  .form__block-wrap .form__block {
    margin-top: 33px;
    width: 570px;
  }

  .form .form__block-parameters {
    padding: 0;
  }

  .form__block-target {
    margin: 0;
  }

  .form__block-contacts {
    padding-bottom: 51px;
  }

  .form__block-contacts legend {
    margin-bottom: 77px;
  }

  .form__block .contacts__input {
    height: 50px;
  }

  .block-contacts-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .block-contacts-wrap label {
    margin: 0;
    width: 570px;
  }

  .form__block-comments {
    padding-bottom: 51px;
  }

  .form__block-other {
    padding-bottom: 5px;
  }

  .form__block-other .block-other__label {
    width: 221px;
  }

  .form__block-other .block-other__label:last-child {
    width: 245px;
  }

  .button-request,
  .form__button-wrap small {
    width: 570px;
  }
}
