.page__header {
  padding-top: 12px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  .oswald(20, 20, 500);
  text-decoration: none;
  color: #000000;
}

.page__logo,
.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

