.other-products__title {
  .oswald(24, 24);
  text-transform: unset;
}

.other-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.other-products__item {
  border-top: 1px solid #CDCDCD;
}

.other-products__item:last-child {
  border-bottom: 1px solid #CDCDCD;
}

.other-products__item h3 {
  .oswald(16, 16);
  color: #222222;
}

.other-products__info {
  .arial(14, 14);
}

.other-products__gift {
  background: url(../../img/gift-photo-mobile@1x.jpg) no-repeat;
  .bg-green();
}

.gift__paragraph {
  .arial(16, 20);
  .text-white();
}
