.catalog__main .button {
  padding: 9px 5px;
  width: 100%;
  .oswald(16, 20);
}

.products__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  border-bottom: 1px solid #EBEBEB;
  .oswald(36, 36);
  text-transform: unset;
}

.products__list {
  margin: 0;
  padding: 0;
}

.products__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #EBEBEB;
  list-style: none;
}

.products__img-block {
  display: block;
  width: 50%;
  font-size: 0;
  text-align: center;
}

.products__table {
  padding-bottom: 10px;
  width: 50%;
}

.products__caption {
  padding-top: 19px;
  padding-bottom: 14px;
  width: 76px;
  text-align: start;

  .oswald(16, 20);
  color: #222222;
}

.products__table {
  border-spacing: 0;
}

.products__table td {
  padding: 0;
  padding-bottom: 4px;
  .arial(12, 16);
}

.products__table td:last-child {
  text-align: end;
}

.products__item-more {
  position: relative;
  flex-direction: column;
  text-align: center;
  padding: 79px 20px 25px;
}

.products__item-more::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: url(/img/icon-plus-mobile.svg) no-repeat;
  opacity: 0.2;
}

.products__item-more h3 {
  margin-top: 0;
  margin-bottom: 8px;
  .oswald(16, 20);
  color: #111111;
}

.products__item-more p {
  margin: 0 0 21px;
  .arial(12, 16);
}

.products__show-all {
  color: #444444;
  .bg-grey();

  &:hover {
    background: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .products__title {
    padding-top: 29px;
    padding-bottom: 83px;
    border: none;
    .oswald(60 , 60);
    text-transform: none;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    padding: 81px 30px 40px;
  }

  .products__item {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 161px 36px 40px;
    border: none;
    min-height: 430px;

    .bg-grey();
  }

  .products__img-block {
    position: absolute;
    bottom: 303px;
    left: center;
    width: fit-content;
  }

  .products__img {
    width: auto;
  }

  .products__table {
    width: 100%;
  }

  .products__caption {
    margin: 0 auto;
    padding: 0 0 14px;
    width: 154px;
    text-align: center;
    .oswald(20, 24);
  }

  .products__table td {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
    .arial(16, 16);
  }

  .products__item .button {
    margin-top: auto;
  }

  .products__item-more {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }

  .products__item-more::before {
    top: 52px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(/img/plus.svg) no-repeat;
    opacity: 1;
  }

  .products__item-more h3 {
    margin-bottom: 23px;
    width: 134px;
    .oswald(20, 22);
  }

  .products__item-more p {
    width: 167px;
    .arial(16, 18);
  }
}

@media (min-width: @desktop-width) {
  .products__title {
    padding-top: 42px;
    padding-bottom: 84px;
  }

  .products__list {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 144px;

    margin: 0 auto;
    padding-top: 80px;
    max-width: 1280px;
  }

  .products__item {
    margin: 0;
    padding-top: 162px;
  }

  .products__item-more {
    padding-top: 160px;
  }

  .products__caption {
    .oswald(20, 21);
  }
}
