.programs__list {
  margin: 0;
  list-style: none;
}

.programs__item {
  .bg-grey();
}

.programs__item h3 {
  .oswald(24, 37);
}

.programs__item p {
  .arial(14, 18);
}

.programs__item a {
  .oswald(16, 16);
  .text-black();
  text-decoration: none;
}
