.title-line-wrap {
  margin-top: -17px;
  margin-left: -20px;
  padding: 0 20px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .title-line-wrap {
    margin-left: 0;
    margin-top: -24px;
    padding: 0 37px;
  }

  .form .title-line-wrap {
    margin-left: -40px;
  }
}

@media (min-width: @desktop-width) {
  .title-line-wrap {
    margin-left: -40px;
    margin-top: -24px;
    padding: 0 40px;
  }
}
